
venv/
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/

node_modules/
dist/

.env
.env.*
.env.local
.env.development
.env.production
.env.development.local
.env.production.local

# Databases
*.sqlite3

# Keys and Secrets
*.pem
*.key

.vscode/
.idea/


.DS_Store
Thumbs.db